<ion-header-bar class="bar-stable">
    <h1 class="title">What do you want to talk about?</h1>
</ion-header-bar>
<ion-content scroll="false">
    <ion-list>
        <button class="button button-full button-assecol" ng-click="next('Arts')">Arts</button>
        <button class="button button-full button-assecol" ng-click="next('Eating habits')">Eating Habits</button>
        <button class="button button-full button-assecol" ng-click="next('Familly')">Familly</button>
        <button class="button button-full button-assecol" ng-click="next('Games')">Games</button>
        <button class="button button-full button-assecol" ng-click="next('Jobs')">Jobs</button>
        <button class="button button-full button-assecol" ng-click="next('Travels')">Travel</button>
        <button class="button button-full button-assecol" ng-click="next('Business')">Business</button>
        <button class="button button-full button-assecol" ng-click="next('Directions')">Directions</button>
    </ion-list>
</ion-content>
