<ion-header-bar class="bar-stable">
    <h1 class="title">What do you want to talk about?</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <button class="button button-full button-assecol" ng-click="next('arts')">Arts</button>
        <button class="button button-full button-assecol" ng-click="next('eating habits')">Eating Habits</button>
        <button class="button button-full button-assecol" ng-click="next('familly')">Familly</button>
        <button class="button button-full button-assecol" ng-click="next('games')">Games</button>
        <button class="button button-full button-assecol" ng-click="next('jobs')">Jobs</button>
        <button class="button button-full button-assecol" ng-click="next('travels')">Travel</button>
        <button class="button button-full button-assecol" ng-click="next('business')">Business</button>
        <button class="button button-full button-assecol" ng-click="next('directions')">Directions</button>
    </ion-list>
</ion-content>
