<ion-header-bar class="bar-stable">
    <h1 class="title">What are yours interests?</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-checkbox ng-model="filter.dia">Dia a dia</ion-checkbox>
        <ion-checkbox ng-model="filter.cultura">Cultura e entretenimento</ion-checkbox>
        <ion-checkbox ng-model="filter.viagens">Viagens e Turismo</ion-checkbox>
        <ion-checkbox ng-model="filter.ciencia">Ciência, Tecnologia e Saúde</ion-checkbox>
        <ion-checkbox ng-model="filter.negocios">Vida profissional e negócios</ion-checkbox>
        <ion-checkbox ng-model="filter.compras">Vida social e compras</ion-checkbox>
    </ion-list>
</ion-content>
<ion-footer-bar align-title="center" class="bar-assertive">
    <h1 class="title"></h1>
    <div class="buttons" >
        <button class="button">OK</button>
    </div>
</ion-footer-bar>

