<ion-header-bar class="bar-stable">
    <h1 class="title">What do you want to talk about?</h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <button class="button button-full button-assess" ng-click="next()">Arts</button>
        <button class="button button-full button-assess" ng-click="next()">Eating Habits</button>
        <button class="button button-full button-assess" ng-click="next()">Familly</button>
        <button class="button button-full button-assess" ng-click="next()">Games</button>
        <button class="button button-full button-assess" ng-click="next()">Jobs</button>
        <button class="button button-full button-assess" ng-click="next()">Travel</button>
        <button class="button button-full button-assess" ng-click="next()">Business</button>
        <button class="button button-full button-assess" ng-click="next()">Directions</button>
    </ion-list>
</ion-content>
