<ion-view view-title="{{topic}}">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right">
            <i class=""></i>
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content scroll="false">
    <div style="background-color: rgb(57, 181, 73);">
        <div style="width: 25%; margin: 0px auto;">
            <img src="img/avatar/avatar_teacher.png" style="width: 100%"/>
        </div>
        <div style="background-color: rgb(21, 117, 27);">
            <div class="row">
                <div class="col col-25" style="text-align: center;">
                    <img src="img/avatar/avatar_one.png" width="58%" style="margin: 0px auto;" />
                </div>
                <div class="col col-25">
                    <img src="img/avatar/avatar_two.png" width="58%" style="margin: 0px auto;" />
                </div>
                <div class="col col-25">
                    <img src="img/avatar/avatar_three.png" width="58%" style="margin: 0px auto;" />
                </div>
                <div class="col col-25">
                    <img src="img/avatar/avatar_four.png" width="58%" style="margin: 0px auto;" />
                </div>
            </div>
        </div>
    </div>

      <div id="list-conversation" style="height: 90%; overflow: scroll; height: 65%; background: url(img/chat_background.png) center center; background-size: 80%">
          <div class="list card" ng-repeat="audioItem in audioItens">
              <div class="item item-avatar" style="float: left;">
                  <img src="img/avatar/avatar_{{ audioItem.type }}.png" width="42px" height="42px">
                  <h2>{{ audioItem.name }}</h2>
                  <p>{{ audioItem.type }}</p>
              </div>

              <div class="item" style="float: right;">
                  <button class="button icon ion-play activated button-balanced button-small pull-right" id="blabla{{ $index }}" ng-click="playSound(audioItem.file, $index)"></button>
              </div>
          </div>
      </div>


  </ion-content>
  <ion-footer-bar class="" style="background: transparent!important;">
      <button class="button center activated button-record" on-hold="onHoldButtonRec()" on-release="onReleaseButtonRec()" ng-class="{grow: holding}" style="">
          <i class="icon ion-android-microphone"></i>
      </button>
  </ion-footer-bar>
</ion-view>
