<ion-view view-title="Class" name="login-view">
  <ion-header-bar class="bar-calm">
    <h1 class="title">Private Class</h1>
  </ion-header-bar>
  <ion-content class="content-stable"
                   on-swipe-left="hideTime = false"
                   on-swipe-right="hideTime = true">
    <div ng-repeat="message in messages"
    ng-class="{other: message.userId != myId}"
    class="messages">
      <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
        <span>{{ message.text }}</span>
      </div>
      <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">
        {{message.time}}
      </div>
    </div>

      <button class="button button-positive" on-hold="onHoldButtonRec()" on-release="onReleaseButtonRec()">Gravar</button>
      <button class="button button-positive" ng-click="play()">Play</button>

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" class="footer-class">
    <div class="row">
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <button class="button button-clear mic-record" ng-click="recordAudio()" >
          <i class="ion-mic-a"></i>
        </button>
      </div>
    </div>

  </ion-footer-bar>
</ion-view>
