<ion-view view-title="Class">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <img src="img/logo.png" width="32px" height="32px" />
        </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content scroll="false">
    <div style="margin-top: 55px; background-color: rgb(57, 181, 73);">
        <div style="width: 25%; margin: 0px auto;">
            <img src="img/avatar/avatar_teacher.png" style="width: 100%"/>
        </div>
        <div style="background-color: rgb(21, 117, 27);">
            <div class="row" >
                <div class="col col-25">
                    <div class="user-profile-inside" style="margin: 0px auto;"></div>
                </div>
                <div class="col col-25">
                    <div class="user-profile-inside" style="margin: 0px auto;"></div>
                </div>
                <div class="col col-25">
                    <div class="user-profile-inside" style="margin: 0px auto;"></div>
                </div>
                <div class="col col-25">
                    <div class="user-profile-inside" style="margin: 0px auto;"></div>
                </div>
            </div>
        </div>
    </div>

      <div id="list-conversation" style="height: 80%; overflow: scroll;">

          <div class="list card">

              <div class="item item-avatar">
                  <img src="img/logo.png" width="50px" height="50px">
                  <h2>Marty McFly</h2>
                  <p>November 05, 1955</p>
              </div>
          </div>

          <div class="list card">

              <div class="item item-avatar">
                  <img src="img/logo.png" width="42px" height="42px">
                  <div style="width: 10px; height: 10px;">
                      <button class="button icon ion-play activated button-balanced "></button>
                  </div>
              </div>
          </div>


          <ul>
              <li ng-repeat="audioItem in audioItens">{{audioItem.file}} - <a ng-click="playSound(audioItem.file)">Play</a></li>
          </ul>
      </div>


  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset" class="footer-class">
    <div class="row">
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <div class="user-profile-inside"></div>
      </div>
      <div class="col">
        <button class="button icon ion-android-microphone activated button-balanced" on-hold="onHoldButtonRec()" on-release="onReleaseButtonRec()"></button>
      </div>
    </div>

  </ion-footer-bar>
</ion-view>
