<ion-view view-title="Evaluate your class - {{topic}}">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-content scroll="false" style="background-color: rgb(255,255,255)!important;">
        <div style="padding-top: 15%;" class="animated bounceInRight">
            <div class="center" style="height:auto;">
                <img src="img/avatar/avatar_teacher.png" style="width: 25%"/>
            </div>
        </div>
        <div>
            <ionic-ratings ratingsobj='ratingsObject' class="animated bounceInLeft"></ionic-ratings>
        </div>
        <div class="content center" ng-show="rating<5">
            <div class="row">
                <div class="col">
                    <button class="button button-dark">Topic not covered</button>
                </div>
                <div class="col"><button class="button button-dark">Outher student unrespectful</button></div>

            </div>
            <div class="row">
                <div class="col"><button class="button button-dark">Proninciation</button></div>
                <div class="col"><button class="button button-dark">Time Spent</button></div>
                <div class="col"><button class="button button-dark">Nothing new</button></div>
            </div>
            <div class="row">
                <div class="col"><button class="button button-dark">Teacher not prepared</button></div>
            </div>
        </div>
    </ion-content>
    <button class="button center activated button-block" style="bottom: 0px; position: fixed;">
    SEND
    </button>
</ion-view>
