<ion-view >
    <ion-content>
        
        <div class="user_space">
            <div class="avatar">
                <img src="img/avatar/avatar_user.png" />
                <span>Mister User</span>
            </div>

            <div class="item item-image" style="background-color: #39B54A;">

            </div>
        </div>

        <div class="teacher_show">
            <div class="avatar">
                <img src="img/avatar/avatar_user.png" />
                <span>Mister User</span>
            </div>

            <div class="item item-image" style="background-color: #39B54A;">

            </div>
        </div>

    </ion-content>
</ion-view>
