<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" style="color: white;" menu-toggle="left">
        </button>
      </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <img src="img/logo.png" width="32px" height="32px" />
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-route="app.assessment" class="center user-profile">
            <img src="img/avatar/avatar_user.png" width="50%" class="center">
            <p class="center nameuser"><i class="ion-gear-b"></i>   {{user.name}}</p>
        </ion-item>
        <ion-item menu-close href="#/app/start">
          Payment
        </ion-item>
        <ion-item menu-close href="#/app/history">
          History
        </ion-item>
        <ion-item menu-close href="#/app/share">
          Share
        </ion-item>
        <ion-item menu-close href="#/app/throphy">
          Throphy
        </ion-item>
        <ion-item menu-close href="#/app/notification">
          Notification
        </ion-item>
        <ion-item menu-close href="#/app/help">
          Help
        </ion-item>
        <ion-item menu-close href="#/app/be-a-teacher">
          Be a teacher
        </ion-item>
        <ion-item menu-close ng-click="login()">
          Logout
        </ion-item>
      </ion-list>
      <ion-footer-bar>
        <a href="">About</a>
      </ion-footer-bar>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
