<ion-view view-title="ChatterBox">
    <ion-content>
        <div class="avatar">
            <img src="img/avatar/avatar_user.png" />
        </div>
        <div style="text-align: center; font-size: 22px; color: #ffffff; font-weight: bold;" >{{user.name}}</div>

        <div class="row text-color-1">
          <div class="col col-50">
              <img src="img/icons/chatbox_icon.png" width="20px" height="20px" />
              4 classes</div>
            <div class="col col-50 text-right">
                <img src="img/icons/throphy_icon.png" width="20px" height="20px" />
                Jedi warrior</div>
        </div>

        <div class="item item-image" style="background-color: rgba(0,0,0,0.6);">
            <img src="img/graph.png" width="100%" >
        </div>

        <div style="margin-top: 10px">
            <div style="width: 49.7%; float: left;">
                <button class="button button-full button-balanced text-btn-start-class icon-left ion-arrow-left-b" ng-click="goToAssessment()">
                    Private
                </button>
            </div>
            <div style="width: 49.7%; float: right;">
                <button class="button button-full button-balanced text-btn-start-class icon-right ion-arrow-right-b" ng-click="goToAssessment()">
                    Collective
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
