<ion-view view-title="ChatterBox">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/avatar/avatar.png">
        <h2>{{user.name}}</h2>
        <p>You're doing great!</p>
      </div>
      <div class="item item-image">
        <img src="img/graph.png">
      </div>
      <a class="item assertive" href="#">
        Your level is
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="icon ion-star"></i>
        <i class="ion-ios-star-half"></i>
        <i class="icon ion-ios-star-outline"></i>
        <i class="icon ion-ios-star-outline"></i>
        <i class="icon ion-ios-star-outline"></i>
        <i class="icon ion-ios-star-outline"></i>
        <i class="icon ion-ios-star-outline"></i>
        <i class="icon ion-ios-star-outline"></i>
      </a>
    </div>
    <div class="item range">
      <div>
          Private Class
      </div>
      <i class="icon ion-person"></i>
      <input type="range" name="private-or-community">
      <i class="icon ion-person-stalker"></i>
      <div>Community Class</div>
    </div>
    <button class="button button-block button-dark">
      Start Class
    </button>
  </ion-content>
</ion-view>
