/* Empty. Add your own CSS if you like */
button .button-face!important{
    background: #3B589D;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

p.nameuser{
  margin-top: 5.5%;
  color: #FFF;
  font-weight: bold;
}

ion-item.user-profile{
  background-color: #184B5F;
}
